
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - mazitye</title>
    <link rel="stylesheet" href="~/css/tailwind.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/mazitye.styles.css" asp-append-version="true" />
</head>
<body>


    <header class="container mx-auto max-w-6xl py-10 flex justify-around items-center">
        <h1 class="font-bold font-serif text-3xl tracking-wide">Mzitye_clothing</h1>
        <div class="flex items-center gap-6">
            <ul class="flex items-center">
                <li class="font-sans text-xl mr-9">
                    <a asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="font-sans text-xl mr-9">
                    <a asp-controller="Shop" asp-action="ListOfProducts">Shop</a>
                </li>
                <li class="font-sans text-xl mr-9">
                    <a asp-controller="Home" asp-action="Contact">Contact</a>
                </li>
                <li class="font-sans text-xl mr-9">
                    <a asp-controller="Home" asp-action="About">About</a>
                </li>
            </ul>
            <p class="border-2 p-2 bg-black text-red-400">Cart(3)</p>
        </div>
    </header>

    <div class="">
        <main role="main">
            @RenderBody()
        </main>
    </div>

    <!-- footer -->
    <div class="bg-black">
        <div class="container mx-auto py-20 px-10 max-w-4xl">
            <div class="text-white text-center">
                <h1 class="font-serif text-xl underline pb-4">This is mazitye clothing app</h1>
                <p class="font-sans text-red-400 text-xl">&COPY;2022</p>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
