<div class="container mx-auto max-w-3xl py-48">
    <h1 class="font-sans text-4xl tracking-wide pb-3">Lets chart customer</h1>
    <h2 class="font-sans text-4xl tracking-wide pb-3">Une mariii?</h2>
</div>