@{
    ViewData["Title"] = "Privacy Policy";
}

    <div class="container mx-auto max-w-3xl py-20 px-10">
        <h1 class="font-sans text-3xl pb-5 font-bold tracking-wide">Info About Mzitye_clothing</h1>
        <p class="font-sans text-xl">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. In labore cumque quo, quidem quasi placeat maiores dolorum veniam quas aut magni velit mollitia quia aspernatur ut ratione atque. Sequi, repellendus itaque dignissimos aliquam provident soluta laudantium sit mollitia inventore. Laboriosam numquam nisi, labore provident molestias animi! Deleniti, in? Praesentium sequi quam amet, facilis est nesciunt totam animi illo fugit nobis harum unde aliquid ea atque, necessitatibus non ab repudiandae! Delectus!
        </p>
    </div>