@{

}

 <div class="container mx-auto max-w-2xl py-20 px-10">
      <h1 class="fonts-serif text-3xl">Please contact us!</h1>
      <form>
          <div class="py-2">
              <label for="">Name</label>
              <input type="text" class="w-full py-2 border-2 px-5 border-red-400">
          </div>
          <div class="py-2">
            <label for="">Email</label>
            <input type="   email" class="w-full py-2 border-2 px-5 border-red-400">
        </div>
        <div class="py-2">
            <label for="">Location/City</label>
            <input type="text" class="w-full py-2 border-2 px-5 border-red-400">
        </div>
        <div class="py-2">
            <label for="">Message</label>
            <textarea name="" id="" cols="30" rows="5" class="w-full py-2 border-2 px-5 border-red-400"></textarea>
        </div>
        <button class="w-full py-3 bg-black text-white text-2xl">Send Your Message</button>
      </form>
    </div>